# Игнорировать все файлы в подкаталоге tmp (и во вложенных подкаталогах)
tmp/

# Игнорировать файлы, заканчивающиеся на _old
*_old

# Игнорировать файлы, заканчивающиеся на _backup
*_backup

# Игнорировать системные файлы превью
Thumbs.db
.DS_Store